@import url('https://fonts.googleapis.com/css?family=Oswald:500|Roboto:300');

html,
body {
    position: relative;
    color: #212121;
    /* height: 100%; uncomment this if any probs, currently being overrided by BS? */
    min-height: 100%;
}
a:link{
    text-decoration: none;
    color: #F5CA36;
}

code,pre {
    font-family: Consolas,sans-serif;
    font-size: 1em;
    color: #F5CA36;
}

input{ width: 100%; }

body>main {
    /* margin to account for nav bar */
    margin-top: 85px;
    margin-bottom: 60px;
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
main>.container-fluid,.container-lg{
    padding-top: 60px;
}
.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100 % ;
}

.icon-branding{ 
    padding-right: 1em;
}

.bg-main{ 
    width: 100%;
    background-image: url(/img/GridBG.jpg); 
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover; 
    background-attachment: fixed;
}
.alphaTest{
    opacity:0.9!important;
}

.navbar-brand,h1{
    font-family: 'Oswald', sans-serif;
    font-size: 2.0em; 
    text-transform: uppercase;
}

.homeText{
    font-family: 'Oswald', sans-serif;    
    text-transform: uppercase;
}

.minHeight {
    min-height: 80vh;
}



